
.outer-grouping {
    //width: 600px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 6px -1px #cccccc;
    display: inline-block;
}

.outer-grouping-no-style {
    //width: 600px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    //background: #fff;
    //border-radius: 10px;
    padding: 5px;
    //border: 1px solid #cccccc;
    //box-shadow: 0 4px 6px -1px #cccccc;
    display: inline-block;
}

.grouping {
    margin: 10px;
    background: #E9E9E9;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 6px 1px #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#d0d0d0));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #d0d0d0);
    background-image: -moz-linear-gradient(top, #FEFEFE, #d0d0d0);
    background-image: -ms-linear-gradient(top, #FEFEFE, #d0d0d0);
    background-image: -o-linear-gradient(top, #FEFEFE, #d0d0d0);
    background-image: linear-gradient(top, #FEFEFE, #d0d0d0);
}

h2.title {
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 130%;
    font-weight: bold;
    text-transform: uppercase;
    //text-shadow: 0px 5px 10px grey;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 25px;
    color: #333333;
}

h2.title-nomargin {
    text-align: center;
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 130%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 0px;
    color: #333333;
}

h3.title {
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 95%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 25px;
    color: #333333;
}

h3.title-nomargin {
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 95%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 5px;
    color: #333333;
}

h3.shaddow {
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 130%;
    font-weight: bold;
    //text-shadow: 0px 5px 10px grey;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #333333;
}

.gradient-button:hover {
    background: #ca2229;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d161e), to(#EE091C));
    background-image: -webkit-linear-gradient(top, #7d161e, #EE091C);
    background-image: -moz-linear-gradient(top, #7d161e, #EE091C);
    background-image: -ms-linear-gradient(top, #7d161e, #EE091C);
    background-image: -o-linear-gradient(top, #7d161e, #EE091C);
    background-image: linear-gradient(top, #7d161e, #EE091C);
    text-decoration: underline;
}
.gradient-button {
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px #888888;
    margin-right: 0px;
    margin-top: 5px;
    padding: 10px 15px;
    text-align: center;
    text-shadow: 0 2px 1px rgba(5, 5, 5, 0.4);
    background: #ca2229;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EE091C), to(#7d161e));
    background-image: -webkit-linear-gradient(top, #EE091C, #7d161e);
    background-image: -moz-linear-gradient(top, #EE091C, #7d161e);
    background-image: -ms-linear-gradient(top, #EE091C, #7d161e);
    background-image: -o-linear-gradient(top, #EE091C, #7d161e);
    background-image: linear-gradient(top, #EE091C, #7d161e);
    float: right;
}

.gradient-button-green:hover {
    background: #22ca29;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#055714), to(#2B9E1C));
    background-image: -webkit-linear-gradient(top, #055714, #2B9E1C);
    background-image: -moz-linear-gradient(top, #055714, #2B9E1C);
    background-image: -ms-linear-gradient(top, #055714, #2B9E1C);
    background-image: -o-linear-gradient(top, #055714, #2B9E1C);
    background-image: linear-gradient(top, #055714, #2B9E1C);
    text-decoration: underline;
}
.gradient-button-green {
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px #888888;
    margin-right: 0px;
    margin-top: 5px;
    padding: 10px 15px;
    text-align: center;
    text-shadow: 0 2px 1px rgba(5, 5, 5, 0.4);
    background: #22ca29;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2B9E1C), to(#055714));
    background-image: -webkit-linear-gradient(top, #2B9E1C, #055714);
    background-image: -moz-linear-gradient(top, #2B9E1C, #055714);
    background-image: -ms-linear-gradient(top, #2B9E1C, #055714);
    background-image: -o-linear-gradient(top, #2B9E1C, #055714);
    background-image: linear-gradient(top, #2B9E1C, #055714);
    float: right;
}

.gradient-button-grey:hover {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4B4B4B), to(#a6a7a9));
    background-image: -webkit-linear-gradient(top, #4B4B4B, #a6a7a9);
    background-image: -moz-linear-gradient(top, #4B4B4B, #a6a7a9);
    background-image: -ms-linear-gradient(top, #4B4B4B, #a6a7a9);
    background-image: -o-linear-gradient(top, #4B4B4B, #a6a7a9);
    background-image: linear-gradient(top, #4B4B4B, #a6a7a9);
    text-decoration: underline;
}
.gradient-button-grey {
    background-color: #CCCCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#4B4B4B));
    background-image: -webkit-linear-gradient(top, #a6a7a9, #4B4B4B);
    background-image: -moz-linear-gradient(top, #a6a7a9, #4B4B4B);
    background-image: -ms-linear-gradient(top, #a6a7a9, #4B4B4B);
    background-image: -o-linear-gradient(top, #a6a7a9, #4B4B4B);
    background-image: linear-gradient(top, #a6a7a9, #4B4B4B);
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px #888888;
    margin-right: 0px;
    margin-top: 5px;
    padding: 10px 15px;
    text-align: center;
    text-shadow: 0 2px 1px rgba(5, 5, 5, 0.4);
    //background: #22ca29;
    //background-image: -moz-linear-gradient(center bottom, #167d1e 0%, #22ca29 48%, #21bf2e 100%) repeat-x scroll 0 0 transparent;
    //background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #167d1e), color-stop(0.48, #22ca29), color-stop(1, #21bf2e));
    float: right;
}





////////////////////////////////////////////////////////////////////////////////
table.center_new {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-family: verdana,'Courier New',Courier,monospace;
    margin: 10px;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 6px 1px #cccccc;
}

table.center {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    font-family: verdana,'Courier New',Courier,monospace;
}

table.center_narrow {
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    color: #000000;
}

table.wide_fixed {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1200px;
    color: #000000;
    border-style: solid;
    border-width: 0px;
    border-color: #c0c0c0;
    text-align: center;
    font-weight: normal;
}

table.select_all_select_none {
    margin-left: 8%;
    margin-right: 10%;
    width: 120px;
    color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    text-align: center;
    font-weight: normal;
}

table#htmlPageHeader {
    font-size: 16pt;
    width: 100%;
    margin-left: 2%;
    margin-right: 5%;
}

table#displaytable {
    font-family: verdana,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 300px;
    text-align: left;
    border-collapse: collapse;
}

table#displaytable th {
    padding: 12px 17px 12px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #c0c0c0;
}

table#displaytable th:last-child {
    padding: 12px 17px 12px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-right: none;
}

table#displaytable td {
    padding: 7px 17px 7px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    //background-color: #f5f5f5;
    //border: 1px solid #b0b0b0;
    border-top: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
}

table#displaytable td:last-child {
    padding: 7px 17px 7px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    //background-color: #f5f5f5;
    //border: 1px solid #b0b0b0;
    border-top: 1px solid #b0b0b0;
    border-right: none;
}

table#displaytable tbody tr:hover td {
    color: #000;
    background: #c0c0c0;
}

table#displaytable_inner {
    font-family: verdana,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: none;
    //background-color: #F5F5F5;
}

table#displaytable_inner td {
    padding: 2px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    //background-color: #F5F5F5;
    border: none;
}

table#displaytable_inner tbody tr:hover td {
    color: #111;
    background: rgba(255,118,116, 0.3);
}

td {
    border: 0;
}

#displaytable_wide {
    font-family: verdana,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 1000px;
    text-align: left;
    border-collapse: collapse;
}

#displaytable_wide th {
    padding: 12px 17px 12px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #c0c0c0;
}

#displaytable_wide th:last-child {
    padding: 12px 17px 12px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-right: none;
}

#displaytable_wide td {
    padding: 4px 10px 4px 10px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    //background-color: #f5f5f5;
    border-top: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
}

#displaytable_wide td:last-child {
    padding: 4px 10px 4px 10px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    //background-color: #f5f5f5;
    /* border-top: 1px solid #b0b0b0; */
    border-right: none;
}

#displaytable_wide tbody tr:hover td {
    color: #339;
    background: #c0c0c0;
}


#admintable {
    font-family: verdana,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    margin: 5px;
}

#admintable th {
    padding: 25px 17px 12px 17px;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #000000;
    border-right: none;
}

#admintable td {
    padding: 4px 10px 4px 10px;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    border-top: none;
    border-right: none;
}

#admintable tbody tr:hover td {
    color: #339;
    background: #c0c0c0;
}

hr.center {
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    color: #c0c0c0;
}

.mediumFontOnDarkBackground {
    font-size: 11pt;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    background-color: #eeeeee;
    background-image: url("../images/TABLE_DarkGradient.jpg");
}

.tinyFont_bold {
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
}

.tinyFont_bold_border {
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
    border: 1px solid black;
}

.tinyFont {
    font-size: 9pt;
    color: #000000;
    font-weight: normal;
}

.smallFont {
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
    border: 0;
}

.taxCertificatePeriod {
    margin-top: -5px;
    //font-size: 12pt;
    color: #520101;
    font-weight: bold;
    text-align: center;
}

.standardHeading {
    font-size: 12pt;
    color: #520101;
    font-weight: bold;
    text-align: left;
    alignment-baseline: middle;
}

.standardHeading_NotBold {
    font-size: 12pt;
    color: #290001;
    text-align: left;
}

div {
    position: relative;
    z-index: 25;
}

a {
    text-decoration: none;
}

a img {
    border-style: none;
    border-width: 0;
}

.ui-widget-header {
    font-size: 15px;
    font-family: verdana;
}

#container {
    margin: 0 auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 12px Verdana, 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    margin: 0;
    background-size: cover;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#F0F0F0));
    background-image: -webkit-linear-gradient(left, #F0F0F0, #F0F0F0);
    background-image: -moz-linear-gradient(left, #F0F0F0, #F0F0F0);
    background-image: -ms-linear-gradient(left, #F0F0F0, #F0F0F0);
    background-image: -o-linear-gradient(left, #F0F0F0, #F0F0F0);
    background-image: linear-gradient(left, #F0F0F0, #F0F0F0);
}

#login {
    background-color: #222222;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
    background-image: -webkit-linear-gradient(top, #333333, #666666);
    background-image: -moz-linear-gradient(top, #333333, #666666);
    background-image: -ms-linear-gradient(top, #333333, #666666);
    background-image: -o-linear-gradient(top, #333333, #666666);
    background-image: linear-gradient(top, #333333, #666666);
    height: 240px;
    width: 400px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#forgotPassword {
    background-color: #222222;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
    background-image: -webkit-linear-gradient(top, #333333, #666666);
    background-image: -moz-linear-gradient(top, #333333, #666666);
    background-image: -ms-linear-gradient(top, #333333, #666666);
    background-image: -o-linear-gradient(top, #333333, #666666);
    background-image: linear-gradient(top, #333333, #666666);
    height: 200px;
    width: 450px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#forgotPassword:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

h1 {
    text-shadow: 0 1px 0 rgba(25, 25, 25, 0.7), 3px 3px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: #dAdAdA;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 16px/1 Verdana, Helvetica;
    position: relative;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#inputs input {
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px;

    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #8B121A;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #B90510 inset;
    -webkit-box-shadow: 0 0 0 1px #B90510 inset;
    box-shadow: 0 0 0 1px #B90510 inset;
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#actions {
    margin: 25px 0 0 0;
}

#submit {
    background-color: #CCCCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e2f6ed));
    background-image: -webkit-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: -moz-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: -ms-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: -o-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: linear-gradient(top, #a6a7a9, #e2f6ed);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #373737 #373737 #373737 #373737;
    float: left;
    height: 35px;
    padding: 0;
    width: 150px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #373737;
}

#submit:hover, #submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e2f6ed), to(#a6a7a9));
    background-image: -webkit-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: -moz-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: -ms-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: -o-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: linear-gradient(top, #e2f6ed, #a6a7a9);
}

#backBtn {
    background-color: #CCCCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e2f6ed));
    background-image: -webkit-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: -moz-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: -ms-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: -o-linear-gradient(top, #a6a7a9, #e2f6ed);
    background-image: linear-gradient(top, #a6a7a9, #e2f6ed);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #373737 #373737 #373737 #373737;
    float: right;
    height: 35px;
    padding: 0;
    width: 150px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #373737;
}

#backBtn:hover, #backBtn:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e2f6ed), to(#a6a7a9));
    background-image: -webkit-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: -moz-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: -ms-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: -o-linear-gradient(top, #e2f6ed, #a6a7a9);
    background-image: linear-gradient(top, #e2f6ed, #a6a7a9);
}

#forgotPwd {
    border: none;
    background: none;
    float: right;
    height: 35px;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    font: 12px Arial, Helvetica;
    text-decoration: underline;
    color: #dAdAdA;
}

#menu {
    width: 1100px;
    margin: 20px;
    border: 1px solid #222;
    background-color: #111;
    background-image: -moz-linear-gradient(#444444, #111111);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#111111));
    background-image: -webkit-linear-gradient(#444444, #111111);
    background-image: -o-linear-gradient(#444444, #111111);
    background-image: -ms-linear-gradient(#444444, #111111);
    background-image: linear-gradient(#444444, #111111);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    z-index: 1000;
    zoom: 1;
    padding: 0;
    list-style: none;
    float: left;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #CFCFCF;
    text-transform: uppercase;
    font: bold 12px Verdana, Arial, Helvetica;
    font-style: normal;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li {
    float: left;
    border-right: 1px solid #222;
    position: relative;
}

#menu li:hover > a {
    color: #fafafa;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu li:hover > .no-transition {
    display: block;
}

html #menu li a:hover {
    color: #fafafa;
}

ul {
    list-style-type: none;
}

#menu ul {
    padding: 0;
    list-style: none;
    float: left;
    margin: 20px 0 0 0;
    _margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1001;
    background: #666;
    background: -moz-linear-gradient(#444444, #111111);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#111111));
    background: -webkit-linear-gradient(#444444, #111111);
    background: -o-linear-gradient(#444444, #111111);
    background: -ms-linear-gradient(#444444, #111111);
    background: linear-gradient(#444444, #111111);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0;
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0;
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    box-shadow: 0 -3px 4px #111111, 0 3px 4px #444444;
}

#menu ul li:first-child{
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    box-shadow: 0 0px 0px #111111, 0 3px 4px #444444;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


#menu ul li:last-child > a {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}

#menu ul ul li:first-child a:hover:after {
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    box-shadow: 0 0px 0px #111111, 0 3px 4px #444444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#menu ul li:first-child > a {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul a {
    padding: 10px;
    width: 180px;
    _height: 10px;
    display: block;
    white-space: normal;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #B90510;
    background-image: -moz-linear-gradient(#69121a, #b90510);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#69121a), to(#b90510));
    background-image: -webkit-linear-gradient(#69121a, #b90510);
    background-image: -o-linear-gradient(#69121a, #b90510);
    background-image: -ms-linear-gradient(#69121a, #b90510);
    background-image: linear-gradient(#69121a, #b90510);
}

#hintbox {

    position: absolute;
    top: 0;
    background-color: lightyellow;
    width: 150px;
    padding: 3px;
    border: 1px solid black;
    font: normal 11px Verdana;
    line-height: 18px;
    z-index: 100;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    visibility: hidden;
}

.hintanchor {

    font-weight: bold;
    color: maroon;
    margin: 3px 8px;
}
